.book-card {
  width: 300px;
  height: 550px;
  box-shadow: 1px 5px 19px -1px rgba(0,0,0,0.74);
  margin: 20px;
}

.book-cover {
  width: 100%;
  height: 60%;
  background-position: center;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.book-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.book-author {
  font-size: 1.2em;
  font-weight: 600;
  color: #9E9E9E
}

.book-description {
  color: #616161;
  font-weight: 400;
  line-height: 1.1;
  display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
  	overflow: hidden;
}

.book-genre {
  display: inline-block;
  padding: 2px;
  color: #607D8B;
  font-size: 0.8em;
  border: 1px solid #607D8B;
  border-radius: 3px;
}
