header {
  background-color: #125FD2;
  color: #f8f8f8;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-name p{
  margin: 0;
  line-height: 0.9;
  font-weight: bold;
  font-size: 1.5rem;
}
